@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Outfit", system-ui;
    background-color: hsl(212, 45%, 89%);
}

main{
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-size: 15px;
}

.container {
    max-width: 20rem;
    margin: 0 auto; 
}
.card{
    background-color: hsl(0, 0%, 100%);
    padding: 0.938rem;
    border-radius: 16px;
    text-align: center;
    margin: 0 0.938rem;
}
.card img{
    width: 100%;
    border-radius: 10px;
}

.card-text h2{
    padding: 1rem 0.125rem;
    color: hsl(218, 44%, 22%);
}
.card-text p{
    padding-bottom: 0.938rem;
    color: hsl(216, 15%, 48%);
}